body {
    background-color: #EFEFEF;
}
header {
    background-color: #e1e1e1;
}
header div {
    display: inline-block;
    width: 33.33%;
    color: #21232a;
    line-height: 2.5;
    font-size: 15px;
    font-weight: bold;
}
header div.center {
    text-align: center;
}
header i {
    color: #6f6f6f;
}
a a:focus, a:hover {
    text-decoration: none;
}
.staticItem {
    position: relative;
    background-color: #21232A;
    border-bottom: #272930 1px solid;
    border-right: #272930 1px solid;
    color:#3CC2DB;
    padding: 10px 0;
    text-align: center;
    height: 100px;
}
.staticItem .title {
    font-size: 14px;
    color: #494c4f;
    height: 30px;
    line-height: 30px;
}
.staticItem .data {
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    color:#3CC2DB;
}
.staticItem i.tag-right {
    float: right;
    padding-right: 10px;
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: 20px;
    color:#3CC2DB;
}
.static-row-1 {
    background-color: #21232A;

}
.static-row-1 .staticItem {
    margin-top: 10px;
    padding-top: 0;
    margin-bottom: 10px;
    border-bottom: none;
    height: 80px;

}
.report .staticItem i {
	font-size: 22px;
	font-style: normal;
    font-weight: normal;
    padding-right: 4px;
}

.static-row-1 .staticItem .data {
    height: 40px;
}
div .staticItem :last-child {
    border-right: none;
}
.menu-item {
    text-align: center;
    background: white;
    padding-top: 10px;
    padding-bottom: 15px;
}
.menu-item div {
    padding-top: 5px;
    color: #A7A5A6;
}
.menu-item .data {
    font-size: 25px;
    font-weight: bold;
}
.menu-item .title {
    font-size: 12px;
}
.customer.menu-item .icon {
    color: #5f7ebb;
}
.abnormal.menu-item .icon {
    color: #e42f33;
}
.abnormal.menu-item .data {
    color: #e42f33;
}

.payment.menu-item .icon {
    color: #ee4a7d;
}
.report.menu-item .icon {
    color: #15aea4;
}


.time-btns ul {
	list-style:none;
	padding: 10px 0;
    margin: 0 -15px;
    background: #21232A;
}
.time-btns ul li {
	display: inline-block;
	width: 25%;
	text-align: center;
}
.time-btns ul a {
    display: inline-block;
    width: 80%;
    line-height: 2;
    background-color: #656364;
    color: white;
}

.time-btns ul a.selected {
    width: 80%;
    height: 80%;
    background-color: #3CC2DB;
    color: white;
}
.time-btns>div {
    padding: 10px 0;
    margin: 0 -15px;
    background: #2C2D35;
}

.time-btns>div>a {
	display: inline-block;
	width: 25%;
	text-align: center;
    color: #3CC2DB;

}
.time-btns>div>div {
	display: inline-block;
	width: 50%;
	text-align: center;
    color: white;
}
.order-item {
    margin-top: 10px;
    background: white;
    padding-bottom: 5px;
}

.order-item .left {
    padding-left: 10px;
}
.order-item i {
    font-size: 12px;
    padding-right: 10px;
}
.order-item .right {
    float: right;
    padding-right: 10px;
}
.order-item .info {
    background-color: #3CC2DB;
    color: white;
    line-height: 2;
}
.order-item ul {
    list-style:none;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: #EFEFEF 1px solid;
}
.order-item ul li {
    padding-top: 10px;
}
.order-item>ul>li> .desc {
    display: inline-block;
    width: 30%;
    color: #8c8c8c;
}

.order-item>ul>li> .value {
    display: inline-block;
    width: 70%;
    color: black;
}
.order-item p {
    display: inline-block;
    margin-bottom: 0;
}
.order-item .discount {
    line-height: 2;
    font-size: 16px;
}
.chart {
    background: white;
    padding: 10px 5px;
    font-size: 12px;
    color: #848484;
    min-height: 200px;
}
.chart .no-data {
	line-height: 200px;
    text-align: center;
    font-size: 18px;
    color: #3CC2DB;
}
.chart .unit {
    display: inline-block;
}
.chart .legend {
    float: right;
}
.chart .legend,.chart .legend dl,.chart .legend dt,.chart .legend dd {
    display: inline-block;
}
.chart .legend dt {
    height: 8px;
    width: 8px;
    margin-left: 5px;
    margin-right: 3px;
}
.payment .menu-item, .abnormal .menu-item{
    background: #e6e6e6;
    border-right: #ededed 1px solid;
}
.payment .menu-item  :last-child, .abnormal .menu-item :last-child {
    border-right: none;
}

.payment .menu-item .data,.abnormal .menu-item .data{
    color: #3CC2DB;
    font-weight: normal;
    font-size: 20px;
}

.payment .list .title {
    text-align: center;
    line-height: 2.5;
    background: #21232A;
    color: #A7A5A6;
}
.payment .list dl div {
    background: #21232A;
    margin-top: -1px;
}
.payment .list dl div:hover {
    background: #363840;
}

.payment .list dt {
    color: #A7A5A6;
    font-weight: normal;
    font-size: 12px;
    line-height: 2.8;

}
.payment .list dd{
    text-align: right;
    color: #3CC2DB;
    font-size: 12px;
    line-height: 2.8;
}
.customer-static {
    padding: 15px 0;
    background: #21232A;
}
.customer-static .staticItem {
    padding: 0;
    height: auto;
    border-bottom: none;
}

