header {
    background-color: #e1e1e1;
}
header div {
    display: inline-block;
    width: 33.33%;
    line-height: 1;
    color: #21232a;
}
header div.center {
    text-align: center;
}
.static {
    background-color: #272930;
    border-bottom: #21232A 1px solid;
}
div .static :last-child {
    border-right: #21232A 1px solid;

}