body {
    background-color: #EFEFEF;
}
header {
    background-color: #e1e1e1;
}
header div {
    display: inline-block;
    width: 33.33%;
    color: #21232a;
    line-height: 3;
    font-size: 15px;
    font-weight: bold;
}
header div.center {
    text-align: center;
}
a a:focus, a:hover {
    text-decoration: none;
}
.staticItem {
    background-color: #21232A;
    border-bottom: #272930 1px solid;
    border-right: #272930 1px solid;
    color:#3CC2DB;
    padding: 10px 0;
    text-align: center;
    height: 90px;
}
.staticItem .title {
    font-size: 14px;
    color: #494c4f;
    height: 25px;
}
.staticItem .data {
    font-size: 30px;
    font-weight: bold;
    height: 50px;
}
.static-row-1 {
    background-color: #21232A;

}
.static-row-1 .staticItem {
    margin-top: 10px;
    padding-top: 0;
    margin-bottom: 10px;
    border-bottom: none;
    height: 70px;

}

.static-row-1 .staticItem .data {
    height: 40px;
}
div .staticItem :last-child {
    border-right: none;
}
.menu-item {
    text-align: center;
    background: white;
    padding-top: 5px;
    padding-bottom: 10px;


}
.menu-item div {
    padding-top: 5px;
    color: #A7A5A6;
}
.menu-item .data {
    font-size: 25px;
    font-weight: bold;
}
.menu-item .title {
    font-size: 14px;
}
.customer.menu-item .icon {
    color: #5f7ebb;
}
.abnormal.menu-item .icon {
    color: #e42f33;
}
.abnormal.menu-item .data {
    color: #e42f33;
}

.payment.menu-item .icon {
    color: #ee4a7d;
}
.report.menu-item .icon {
    color: #15aea4;
}


.time-btns ul {
	list-style:none;
	padding: 10px 0;
    margin: 0 -15px;
    background: #21232A;
}
.time-btns ul li {
	display: inline-block;
	width: 25%;
	text-align: center;
}
.time-btns ul a {
    display: inline-block;
    width: 80%;
    line-height: 2;
    background-color: #656364;
    color: white;
}

.time-btns ul a.selected {
    width: 80%;
    height: 80%;
    background-color: #3CC2DB;
    color: white;
}
.time-btns>div {
    padding: 10px 0;
    margin: 0 -15px;
    background: #2C2D35;
}

.time-btns>div>a {
	display: inline-block;
	width: 25%;
	text-align: center;
    color: #3CC2DB;

}
.time-btns>div>div {
	display: inline-block;
	width: 50%;
	text-align: center;
    color: white;
}
.order-item {
    margin-top: 10px;
    background: white;
}

.order-item .left {
    padding-left: 10px;
}
.order-item .right {
    float: right;
    padding-right: 10px;
}
.order-item .info {
    background-color: #3CC2DB;
    color: white;
    line-height: 2;
}
.order-item ul {
    list-style:none;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: #EFEFEF 1px solid;
}
.order-item ul li {
    padding-top: 10px;
}
.order-item>ul>li> .desc {
    display: inline-block;
    width: 30%;
    color: #8c8c8c;
}

.order-item>ul>li> .value {
    display: inline-block;
    width: 70%;
    color: black;
}
.order-item p {
    display: inline-block;
    margin-bottom: 0;
}
.order-item .discount {
    line-height: 2;
    font-size: 16px;
    /*font-weight: bold;*/
}